li {
    line-height: 1;
}

.alert {
    background-color: #fae1e8;
    color: #782c40;
    border-radius: 8px;
    border: #782c40 1px solid;
    padding: 2rem;
}

.alert p {
    margin-bottom: 1rem;
}

.has-detail {
    color: #1EAEDB;
    text-decoration: underline;
}

.has-detail:hover {
    color: #0FA0CE;
    cursor: pointer;
}

.breadcrumb {
    border: #0FA0CE 1px solid;
    background-color: #ebf9fc;
    padding: 10px;
    border-radius: 8px;
}