li {
    line-height: 1;
}

.alert {
    background-color: #fae1e8;
    color: #782c40;
    border-radius: 8px;
    border: #782c40 1px solid;
    padding: 2rem;
}

.has-detail {
    color: #1EAEDB;
}

.has-detail:hover {
    color: #0FA0CE;
    cursor: pointer;
    text-decoration: underline;
}